variables:
  OMP_NUM_THREADS: "3"
  NUMEXPR_NUM_THREADS: "1"
  OPENBLAS_NUM_THREADS: "1"
  VECLIB_MAXIMUM_THREADS: "1"
  MKL_NUM_THREADS: "1"
  MKL_THREADING_LAYER: "gnu"

stages:
  - syntax
  - test
  - deploy

tests_flake8:
  image: jugit-registry.fz-juelich.de/iek-7/docker-python:latest-tag
  stage: syntax
  except:
  - schedules
  artifacts:
    expire_in: 1 week
    reports:
      junit: flake8.xml
  script:
  - flake8 --format junit-xml --show-source --tee --output-file flake8.xml juwavelet

tests_install:
  image: jugit-registry.fz-juelich.de/iek-7/docker-python:latest-tag
  stage: test
  except:
  - schedules
  script:
  - pip install .

tests_py3:
  image: jugit-registry.fz-juelich.de/iek-7/docker-python:latest-tag
  stage: test
  except:
  - schedules
  artifacts:
    paths:
      - htmlcov
    expire_in: 1 week
    reports:
      junit: report.xml
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  script:
  - pip install -e .
  - pytest --cov --junitxml=report.xml

tests_scheduled_latest:
  image: jugit-registry.fz-juelich.de/iek-7/docker-python:latest
  stage: test
  only:
  - schedules
  script:
  - pip install -e .
  - flake8  juwavelet
  - pytest

